<div class="pxdropdownContainer" ng-controller="pxDropDownPredixCtrl as ctrl">
   
    <script type="text/ng-template" id="dropdown.html">
        <link ng-href="{{DECISYON.template.mainLibraryPath}}/vendor/px-dropdown/px-dropdown.html" rel="import">
        <px-dropdown id="{{ctrl.widgetID}}">
            <px-dropdown-content items={{ctrl.itemList}}></px-dropdown-content>
        </px-dropdown>
    </script>
    
    <script type="text/ng-template" id="error.html">
        <h3>{{ctrl.errorMsg}}</h3>
    </script>
    
    <div ng-include src="ctrl.currentTpl"></div>
    
</div>