<div class="de_table de_minpadding defaultError" >
  <div class="ui-widget">
    	<div class="ui-state-error ui-corner-all">    
      		<p>
    			<span class="ui-icon ui-icon-alert"></span>
      			<strong></strong>
        	</p>
      		<span class="codeError">{{error.errorCode}}</span>
    		<span class="messageError">{{error.errorMsg}}
           
			</span>
		</div>      
	</div>
</div>
